<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>

<h2>Register</h2>
<!-- C:\tomcat\apache-tomcat-10.1.52\bin -->
<form action="/marketplace/register" method="post">
    Name: <input type="text" name="name"><br><br>
    Email: <input type="email" name="email"><br><br>
    Password: <input type="password" name="password"><br><br> 
    <label for="role">Choose a role:</label>
    <select id="role" name="role">
    <option value="customer">Volvo</option>
    <option value="merchant">BMW</option>
    <option value="admin">Audi</option>
    </select>
    <button type="submit">Register</button>
</form>

</body>
</html>